/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

table th.priceColumn {
    width: 20%;
}

table th.removeColumn,
table th.cartColumn {
    width: 5%;
}

form.auctionForm .inputPrice {
    width: 20%;
    float: left;
}

form.auctionForm .inputPrice,
form.auctionForm button {
    margin-right: 1em;
}

form.auctionForm .radioUser input[type="radio"] {
    display: none;
}

form.auctionForm input[type="radio"]:checked + div {
    border: 4px solid green;
}

form.auctionForm div.thumbnail:hover {
    border: 2px solid grey;
    cursor: pointer;
}

form.auctionForm div.thumbnail.hasError {
    border: 2px solid red;
}

form.auctionForm div.thumbnail label {
    padding-top: 5em;
    padding-right: 2em;
}

div.thumbnail {
	width: 70px;
	height: 70px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(/static/images/placeholder.png) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-size: 70px;
    margin-right: 1em;
}

div.adminExtraction .jumbotron .label {
    margin-right: 1em;
    font-size: 100%;
}

.teamList .thumbnail .teamName {
    margin-left: 3em;
}


.roundAvatar {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    float: left;
}
.roundAvatar img {
    display: block;
    max-width: 50px;
}
