
{% extends "layout.html" %}
{% block content %}
    <h1>Gestione squadre</h1>
    <div class="row teamList">
        {% for user in members %}
            <div class="col-xs-12 col-md-6">
                <div class="thumbnail" style="background-image:url({{user.avatar_url()}})">
                    <h2 class="teamName">{{user.username}}</h2>
                </div>
                <div class="userTeam"
                     data-user="{{user.username}}"
                     data-user-avatar="{{user.avatar_url()}}"></div>
            </div>
            {% if loop.index is even %}
                <!-- Add the extra clearfix for only the required viewport -->
                <div class="clearfix visible"></div>
            {% endif %}
        {% endfor %}
    </div>

    <script src="static/js/auction.js" type="text/jsx"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.0/react.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.0/JSXTransformer.js"></script>
{% endblock %}
