
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Asta Fantacalcio</h1>
    <p>Esegui il login per accedere all'asta</p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
      <h2>
          Regole della casa d'aste
          <br /><small>Chi non le segue, sarà soggetto a severe punizioni.</small>
      </h2>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Per poter partecipare all'asta, bisogna pagare l'iscrizione</h3>
        </div>
        <div class="panel-body">
          Chi non versa la caparra concordata <strong>prima dell'inizio dell'asta</strong>,
          non potrà partecipare al mercato e di conseguenza si prenderà gli scarti degli altri e gli insulti gratuiti.
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">E' severamente vietato sforare il monte budget o giocatori </h3>
        </div>
        <div class="panel-body">
          Il programma di gestione dell'asta proverà a gestire tutto correttamente,
          ma chi dovesse sforare con il budget o con il numero di giocatori, subirà una penalizzazione di punti stabilita dal palazzo.
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">E' severamente vietato far acquistare Lichtsteiner a Di Nardo</h3>
        </div>
        <div class="panel-body">
          Il partecipante Di Nardo <strong>non deve in nessun modo entrare in possesso di Stephan Lichtsteiner</strong>.
          <br />I partecipanti sono quindi tenuti a rialzare ogni sua offerta.<br />
          Chi dovesse farsi superare nell'offerta, sarà costretto a comprare d'ufficio il calciatore <strong>Paolo De Ceglie</strong>.
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">No urla a casa mia, ma rispetto e cortesia</h3>
        </div>
        <div class="panel-body">
          Siamo in 8 in un condominio e si rischia di fare tardi.
          <br />Cerchiamo di mantenere un volume di voce consono al luogo dove siamo.
          <br />Ogni volta che si supera il limite consentito (a discrezione del padrone di casa), scatta l'ammonizione per il partecipante.
          <br />Dopo 2 richiami ufficiali, scatta la penalizzazione che consiste nell'acquisto forzoso di un giocatore di merda scelto dal palazzo.
          <br /><strong>Campici, vedi di non eccitarti troppo, perché rischi di fare la squadra solo con le punizioni.</strong>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">La formazione va consegnata entro un'ora prima del fischio d'inizio della prima partita della giornata</h3>
        </div>
        <div class="panel-body">
          Al primo ritardo verrà utilizzata la formazione della settimana precedente.
          <br />Al secondo ritardo consecutivo, la squadra perderà a tavolino per 3-0.
          <br />Dopo il 5° ritardo totale, il giocatore dovrà offrire una cena di pesce completa a tutti i partecipanti.
        </div>
      </div>
    </div>
</div>
{% endblock %}
